:host {
  display: block;
  font-family: system-ui, -apple-system, 'Segoe UI', Arial, sans-serif;
}

.container {
  display: flex;
  background-color: #aaa;
  padding: 40px 20px;
  gap: 0 4px;
}

.container__text {
  font-size: 32px;
  flex: 2;
}

.container__button {
  padding: 0 12px;
  cursor: pointer;
  font-size: 20px;
}
